<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Backend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ClassRoster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EarlGreyTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>YiDaSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F41BA6081DDD61C600327C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41BA61C1DDD682F00327C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41BA67A1DDD76BF00327C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41BA6851DDD76FE00327C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F41BA6A31DDD77DF00327C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4519D111DDD589C000D175E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4519D251DDD589C000D175E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4519D301DDD589C000D175E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
